<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Fruta</title>
</head>
<body>
    <h1>Fruta a editar:</h1>
    <br><br>
    <form action="" method="POST">
        <input type="text" name="txtfruta" value="{{fruta.1}}">
        <br><br>
        <input type="text" name="txtseason" value="{{fruta.2}}">
        <br><br>
        <input type="number" name="txtprecio" value="{{fruta.3}}">
        <br><br>
        <input type="number" name="txtstock" value="{{fruta.4}}">
        <br><br>
        <button type="submit">Ingresar</button>
    </form>
</body>
</html>