<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario de llenado.</h1><br>
    <h3>Ingrese los siguientes datos:</h3><br><br>
    
    <form action="/guardar" method="post">
        <input type="text" name="g_nombre" placeholder="Nombre de la fruta"><br><br>
        <input type="number" name="g_cantidad" placeholder="Cantiadad"><br><br>
        <input type="number" name="g_precio" placeholder="Precio"><br><br>
        <button type="submit">Guardar</button>
    </form><br><br>


    <form action="/">
        <button type="submit">Regresar</button>
    </form>
</body>
</html>